window-rule {
    match app-id="dev.zed.Zed"
    match app-id="^Alacritty$"
    draw-border-with-background false
    opacity 0.80
    background-effect {
        blur true
    }    
}

window-rule {
    // open-floating false
}