// https://github.com/YaLTeR/niri/wiki/

prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

config-notification {
    disable-failed
}

gestures {
    hot-corners {
        off
    }
}

input {
    keyboard {
        numlock
    }
    touchpad {
        tap
        natural-scroll
    }
}

layer-rule {
    match namespace="^quickshell$"
    place-within-backdrop true
}

overview {
    workspace-shadow {
        off
    }
}

environment {
  XDG_CURRENT_DESKTOP "niri"
}

hotkey-overlay {
    skip-at-startup
}

debug {
    honor-xdg-activation-with-invalid-serial
}

// Custom
include "niri/animations.kdl"
include "niri/binds.kdl"
include "niri/layout.kdl"
include "niri/outputs.kdl"
include "niri/theme.kdl"
include "niri/windowrules.kdl"

// Noctalia
include "noctalia/binds.kdl"
include "noctalia/layerrules.kdl"
include "noctalia/windowrules.kdl"

spawn-at-startup "noctalia"

include "noctalia.kdl"
